@import "../../abstracts.scss";

.header {
  display: flex;
  width: 100vw;
  height: 100px;
  box-shadow: $boxShadow;
  padding: 2rem;

  .left {
    display: flex;
    justify-content: space-between;
    width: 50vw;

    .logo {
      height: 30px;
      width: 144px;
    }
    .searchField {
      display: flex;
      width: 400px;
      height: 40px;
      position: relative;
      input {
        padding: 1rem;
        width: 100%;
        border: 1px solid $color-primary-dark;
        border-radius: 0.7rem;
      }
      .searchIcon {
        background-color: $color-basic;
        width: 56px;
        height: 40px;
        margin-left: -14%;
        border-radius: 0 0.7rem 0.7rem 0;
        position: relative;
        cursor: pointer;
        img {
          @include abscenter;
        }
      }
    }
  }

  .right {
    display: flex;
    width: 50vw;
    justify-content: flex-end;
    gap: 2rem;
    color: $color-primary;
    align-items: center;
    padding: 1rem;
    * {
      cursor: pointer;
    }
    div {
      width: 58px;
      height: 19px;
      font-weight: 500;
      font-size: 16px;
      line-height: 18.77px;
    }
    .h-text {
      text-decoration: underline;
    }
    .avatar {
      width: 48px;
      height: 48px;
      margin-right: -3%;
    }
    .arrIcon {
      margin-left: -5%;
    }
  }
}
