@import "../../abstracts";

.subheading {
  align-items: center;
  display: flex;
  height: 40px;
  width: 100%;
  padding-left: 20px;
  transition: all 0.05s;
  color: rgba($color-primary, 0.5);
  background-color: #fff;

  .icon {
    height: 16px;
    width: 14px;
    border-radius: 0px;
    margin: 10px;
  }
  .arrowIcon {
    margin-left: -35%;
  }
  .title {
    width: 100%;
    height: 19px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  &:hover {
    cursor: pointer;
    background-color: rgba($color-basic, 0.03);
  }
}
