@import "../../abstracts.scss";

.loginPage {
  width: 100%;
  display: flex;
  @include respond(tab-port) {
    flex-direction: column;
  }
  //left side => logo & image
  .left {
    display: flex;
    flex-direction: column;
    width: 50vw;
    @include respond(tab-port) {
      width: 100vw;
      justify-content: center;
    }

    .logo {
      height: 36px;
      width: 173px;
      margin-left: 97px;
      margin-top: 106px;
      @include respond(tab-land) {
        width: 123px;
        margin-left: 57px;
        margin-top: 76px;
      }
    }
    .image {
      height: 337px;
      width: 600px;
      margin-left: 67px;
      margin-top: 139px;
      @include respond(tab-land) {
        width: 400px;
        margin-top: 56px;
      }
      @include respond(tab-port) {
        width: 80vw;
        margin-left: 47px;
      }
    }
  }
  //right side => form
  .right {
    width: 50vw;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    @include respond(tab-port) {
      width: 100vw;
      padding: 1.5rem;
    }
    h1 {
      //   font-family: "Avenir Next";
      color: $color-primary;
      width: 183px;
      height: 55px;
      font-size: 40px;
      line-height: 55px;
      letter-spacing: -0.04em;
      margin-top: 10%;
    }
    h3 {
      //   font-family: "Avenir Next";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      margin: 0.7% 0px 24px 0px;
      color: $color-primary-light;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-top: 3%;
      input {
        width: 100%;
        opacity: 60%;
        padding: 3vh 1vh;
        color: $color-primary;
        border: 1px solid $color-primary-dark;
        &:focus {
          outline: none;
          border-left: 3px solid $color-basic;
        }
        &:focus:invalid {
          outline: none;
          border-left: 3px solid $color-secondary;
        }
      }

      label {
        position: relative;
        display: flex;
        input {
          width: 90%;
          border-right: none;
        }
        div {
          width: 10%;
          color: $color-basic;
          border: 1px solid $color-primary-dark;
          //   font-family: "Avenir Next";
          font-style: normal;
          border-left: none;
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          padding: 3vh 0px;
          text-align: center;
          // margin: 0px auto;
          letter-spacing: 0.1em;
          cursor: pointer;
          @include respond(phone) {
            font-size: 10px;
          }

          @include respond(mini) {
            margin-left: -25%;
            margin-top: 22%;
          }
        }
      }
      span {
        color: #39cdcc;
        margin-top: 5%;
        // font-family: "Avenir Next";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: left;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        cursor: pointer;
      }
      .submitBtn {
        background-color: $color-basic;
        width: 100%;
        cursor: pointer;
        border: none;
        border-radius: 2px;
        margin-top: 2%;
        padding: 0.7rem;

        // font-family: "Avenir Next";
        text-align: center;
        letter-spacing: 0.1em;
        line-height: 19px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
