//colors
$color-primary: #213f7d;
$color-primary-light: #545f7d;
$color-primary-dark: #545f7d26;
$color-basic: #39cdcc;
$color-secondary: #ff3366;
$color-secondary-dark: #e4033b;
$color-tertiary: #e9b200;
$color-active: #39cd62;

//variables
$boxShadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

//mixins
@mixin abscenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin hidden {
  display: none;
}
